backend/vendor/
backend/node_modules/
backend/public/storage
backend/public/hot
backend/storage/*.key
backend/.env
backend/.phpunit.result.cache

ai/venv/
ai/.env
ai/__pycache__/
ai/*.pyc

.vscode/
.idea/
.DS_Store